body{
     background-image: url(../img/escheresque_ste.png);
}

.linksAtualiza{
     color: #443850;
     text-transform: uppercase;
     size: 30px;
     font-weight: bolder;


}

.geralAtualiza{
     background-color: #ffffff;
     width: 75%;
     margin: 0 auto;
     text-transform: uppercase;
     font-weight: bolder;
     size: 24px;
}

.areaTitulo{
     margin-top: 30px;
     size: 40px;
     margin: 0 auto;
   
}

.atualizar{
     size: 10px;
     text-transform: uppercase;
     background-color: #aaa;
     font-weight: bolder;
     padding: 10px;
     border: none;
     margin-bottom: 20px;
     margin-left: 20px;
}

.atualizar:hover{
     color: #27ecd4;
}