* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
}
.introducao {
    height: 450px;
}
.introducao h1 {
    font-size: 30px;
}
form {
    background: rgb(31 29 29 / 58%);

    width: 100%;
    max-width: 500px;

    margin: 32px auto;
    padding: 32px 64px;

    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: 16px 0;
    border:none;
    border-bottom: 1px solid #ffb947;
    background-color: transparent;
    outline: none;
    color: #f0f0f5;
    font-size: 1em;

}
button {
    margin-top: 16px;
    background-color: #ffb947;
    cursor: pointer;
}
button:hover{
    background-color: #faaa16;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;
    font-weight: 5px;
    color: #f0f0f5 ;
    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


.input span.error {
    display: flex;

    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}
h5{
  font-weight: 5px;
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
}
h5 a{
  text-decoration: none;
  color: #27ecd4;
  font-size: 15px;
}
h5 a:hover{
  color: #598f88;
  font-size: 15.5px;
}
@media only screen and (max-width: 786px) {
form{
  margin: 0px;
  margin-top: -200px;
  color: #fff;
  /* padding: 30px; */
}
.introducao h1{
  color: #000000;
}
h5{
  font-size: 10px;
}
h5 a{
  color: #2ed1bd;
  font-size: 10.5px;
}
h5 a:hover{
  color: #27ecd4;
  font-size: 10.9px;
}

}
